@import "tailwindcss";

@import "./theme.css";
@import "./utilities.css";
@import "./components.css";
@import "./animations.css";

@import "./components/entity-slider.css";
@import "./components/projects.css";
@import "./components/articles.css";


@source "../views";
@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";



.desktop-home {
    display: block;
}


.mobile-home {
    display: none;
}



@media(max-width:768px){

    .desktop-home {
        display:none;
    }


    .mobile-home {
        display:block;
    }

}
